body{
	font-family:Arial;
	background-color:black;
}

form{
	background-color:white;
	border-radius:4px;
	color:#999;
	font-size:1em;
	padding:30px;
	margin:0 auto;
	width:300px;
}

input, textarea{
		border:0;
		outline:none;
		width:300px;
}

.input{
	border:solid 1px #ccc;
	padding:10px;
}

.center{
	text-align:center;
}
