body{
	font-family:Arial;
	background-color:black;
}

form{
	background-color:white;
	border-radius:10px;
	color:#8b8b8b;
	font-size:0.9em;
	padding:50px;
	margin:auto;
	width:320px;
}

input, textarea{
	border:0;
	outline:none;
	width:300px;
}

.input{
	border:solid;
	border-width:thin;
	border-style:inset;
	border-color:#ccc;
	padding:1em;
}

.center{
	text-align:center;
}

.submit{
	background-color:#085e6f;
	font-size:1.2em;
	border-radius:5px;
	color:white;
	padding:15px;
}
