

/* Bloque de navegación */

#navigation { float:right; }
#navigation ul{ float:left; list-style-type: none; padding-top:37px; font-size:14px;}
#navigation ul li{ float:left; display:inline; height:21px; images/nav-border.gif) repeat-y right 0; padding:0 20px 0 0; margin-right:20px; position:relative; }
#navigation ul li.last{background:transparent; padding-right:0; margin-right:0; }
#navigation ul li a{ float:left; color:#000; text-decoration: none;}

#navigation ul li a em { width:90px; height:20px;  position:absolute; top:33px; left:-55px;}
#navigation ul li.last a em { left:-45px;}
#navigation ul li a span { font-size:0; line-height:0; width:0; height:0; position:absolute; left:50%;}

#navigation ul li a.hover{ color:#f6cb44;}

#navigation ul li a.hover em{ background-position:0 0}


#header {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    height: 90px;
    color: 
    #252525;
}	
}

p{
font-family:Helvetica;
font-size:16px;	
text-align:justify;
}

html{background-color:#464542;}

body{text-align:center;}

.nocenter{width:50%;padding:8px;margin:auto;background-color:#8D520E;}

.fotohack{width: 400px; 
height: 300px;
padding-left: 190px;
margin-left: auto;
margin-right: auto;
}

h1{font-size:250%;font-family:copperplate;backgorund-color:#129CC5;}
h2{font-size:150%;font-family:copperplate;backgorund-color:#06F186;}
h3{font-size:100%;font-family:copperplate;backgorund-color:#4E0389;}

